body {
  background: black;
  color: rgba(152, 175, 199);
}

header{
  background: white;
  color: black;
  border-bottom: 4px solid turquoise;
  display: flex;
  align-items: center;
  justify-content: flex-between;
  flex-wrap: wrap;
}

.galerie ul {
  background: white;
  padding: 26px;
  display: flex;

}

nav ul {
  list-style-type: none;
  display: flex;
}

nav a {
   font-size: 1em;
   text-transform: uppercase;
   border: 1px  rgba(0, 0, 0);
   padding: 1em;
   border-radius: 4px;

}

.indentity {
  background-color: white;

}

section {
  min-height: 90vh
}

#why {
  background : rgba(208, 191, 239);
  color : white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.section-container{
  padding: 60px;
  text-align: center;
}

figure {
  border: 3em solid rgba(208, 191, 239);
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

figure img{
  width: 100%;
}

p {
  color: rgba(208, 191, 239);
}

img{
  
}
