h1 {
  font-size: 4em;
}

header h1 {
  font-size: 1em;
}

body{
  font-family: 'Roboto Mono', monospace;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

nav{
  font-family: 'Roboto Mono', monospace;
}
